<h1>Login</h1>

<%= form_for( :sessions, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
<div class="form-group">
  <div class="control-label col-sm-2">
    <%= f.label :email %>
  </div>
  <div class="col-sm-8">
    <%= f.email_field :email, row: 10 ,class: "form-control", placeholder: "ingrese email", autofocus: true %>
  </div>
</div>
<div class="form-group">
  <div class="control-label col-sm-2">
    <%= f.label :password %>
  </div>
  <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
  </div>
 </div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Log in", class: "btn btn-primary btn-lg"%>
    <!--para solucionar el cambio de vista para el boton se aplica la condicion si es nuevo si no ir por actualizar-->
  </div>
</div>
<% end %>
<div class="col-xs-4 col-xs-offset-4">
  [ <%= link_to 'regreso a articulos', articles_path%> ]
</div>
