<% obj.each do |article| %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="article-title">
        <%= link_to article.title, article_path(article) %>
      </div>
      <div class="article-body">
        <%= truncate(article.description, length: 100) %>
        <div class="article-meta-details">
          <small>creado el: <%= article.user.username if article.user %>
                            <%= time_ago_in_words(article.created_at) %>,
                          actulizado <%= time_ago_in_words(article.updated_at) %>
          </small>
        </div>
      </div>
      <% if article.categories.any? %>
      <p>Categorias : <%= render article.categories %></p>
      <% end %>
      <% if logged_in? && (current_user == article.user || current_user.admin?) %>
        <div class="article-actions">
            <%= link_to ' editar articulo', edit_article_path(article), class: "btn btn-xs btn-primary"%>
            <%= link_to 'borrar articulo', article_path(article), method: :delete,
                                           data: {confirm: "estas seguro de borrar el articulo?"},
                                           class: "btn btn-xs btn-danger"%>
          </div>
      <% end %>
      </div>
  </div>
</div>
<% end %>
