<%= render 'shared/errors', obj: @user %> <!--se pasa el usuario-->
<div class="row">
  <div class="col-xs-12">
    <%= form_for( @user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :username %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :username, row: 10 ,class: "form-control", placeholder: "ingrese nombre", autofocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :email %>
      </div>
      <div class="col-sm-8">
          <%= f.email_field :email, class: "form-control", placeholder: "Ingrese correo" %>
      </div>
     </div>
     <div class="form-group">
       <div class="control-label col-sm-2">
         <%= f.label :password %>
       </div>
       <div class="col-sm-8">
           <%= f.password_field :password, class: "form-control", placeholder: "Ingrese password" %>
       </div>
      </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit(@user.new_record? ? "crear usuario" : "actualizar usuario", class: "btn btn-primary btn-lg")%>
        <!--para solucionar el cambio de vista para el boton se aplica la condicion si es nuevo si no ir por actualizar-->
      </div>
    </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
      [ <%= link_to 'regreso a articulos', articles_path%> ]
    </div>
  </div>
</div>
