<%= render 'shared/errors', obj: @category %> <!--se pasa el usuario-->

    <%= form_for( @category, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :name %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :name, row: 10 ,class: "form-control", placeholder: "ingrese nombre de la categoria", autofocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: "btn btn-primary btn-lg" %>
        <!--para solucionar el cambio de vista para el boton se aplica la condicion si es nuevo si no ir por actualizar-->
      </div>
    </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
      [ <%= link_to 'regreso a articulos', articles_path%> ]
    </div>
