<h1 align="center"><%= "Catgorias : " + @category.name %></h1>
<div align="center">
  <%if logged_in? and current_user.admin%>
  <div class="row">
    <span class="badge"><%= link_to "Editar nombre de categoria", edit_category_path(@category)%></span>
  </div>
  <% end %>
  <%= will_paginate @category_articles%>
</div>
<%= render 'articles/article', obj: @category_articles %>
<div align="center">
  <%= will_paginate @category_articles %>
</div>
