<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="atomi.vg">practica de rails</a>
      by <a href="#">julio chan</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "about", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
